
<mat-toolbar color="primary">
    <span class="title">Some App</span>
    <a class="menu" routerLink="/auth">Dashboard</a>
    <!-- <a class="menu" routerLink="/gg">GG</a> -->
</mat-toolbar>

<!-- <app-list-form></app-list-form> -->
<router-outlet></router-outlet>
<!-- <mat-card class="card">
    <form class="example-form">
        <p>Add List</p>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Write Here</mat-label>
            <input matInput placeholder="Add your list here" name="list" [(ngModel)]="list" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onClick()">ADD</button>
    </form>
</mat-card>

<div class="container">
    <app-list-data *ngIf="showTodos" (completeEvent)="completed($event)" [dataList]="listData" (itemDelete)="delItem($event)" (clearAllEvent)="delAll($event)" ></app-list-data>
</div> -->





